openapi: 3.0.2
info:
  title: AGDATA Phoenix Files API
  version: '1.0'
servers:
  - url: https://api.agdata.com.au
    description: Phoenix Files API.
security:
  - BearerToken: []
  - bearerAuth: []
  - short-lived-oauth: []

paths:

  /files:
    get:
      summary: List file properties without file content
      tags:
        - file library
      security:
        - BearerToken:
          - test
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: order
          in: query
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - name: sort
          in: query
          required: false
          description: Sort the results by a single property
          schema:
            type: string
            default: created
            enum:
              - created
              - filename
        - name: transactionId
          description: Filter results by one or more linked transaction Id(s).
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: tag
          description: |
            Filter results by one or more tags. Results must have at least one of the given values, or optionally
            alter this behaviour with one of the following options:
             
            * **tag.in**   - results must have at least one of these tags (comma delimited)
            * **tag.all**  - results must have all of these tags (comma delimited)
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/FileLibraryItemTags'
        - name: createdAfter
          description: Returns files created on and after this date
          in: query
          required: false
          schema:
            type: string
            format: datetime
        - name: filename
          description: Search for a specific or similar filename
          in: query
          schema:
            type: string
        - name: hasTransaction
          description: Filter results based on whether they are linked to a transaction

            * **true**  - results must be linked to at least 1 transaction

            * **false** - results must not be linked to any transactions
          in: query
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Success
          headers:
            X-TotalCount:
              $ref: '#/components/headers/X-TotalCount'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileLibraryItem'
    post:
      summary: Add a file
      tags:
        - file library      
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - name: x-agdata-transactionIds
          description: Linked financial transaction Ids
          in: header
          required: false
          schema:
            type: array
            items:
              type: integer
        - name: x-agdata-tags
          description: String tags
          in: header
          required: false
          schema:
            $ref: '#/components/schemas/FileLibraryItemTags'
        - $ref: '#/components/parameters/UsernameHeader'
        - name: x-agdata-created
          description: Set the created date of the file
          in: header
          required: false
          schema:
            type: string
            format: datetime
      requestBody: 
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        201:
          description: File upload success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLibraryItem'

  /files/{id}:
    get:
      summary: Get file properties or contents
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
      responses:
        200:
          description: Success
          content:
            application/octect-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/FileLibraryItem'
    patch:
      summary: Update file properties
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
      requestBody: 
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/FileLibraryItemBinding'
      responses:
        200:
          description: Update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLibraryItem'
      
    delete:
      summary: Delete a file
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
        - $ref: '#/components/parameters/UsernameHeader'
      responses:
        204:
          description: Deleted successfully

  /files/{id}/tags/{tagName}:
    delete:
      summary: Remove a tag from a file
      tags:
        - file library
      security:
        - BearerToken: [ ]
        - AgDataD: [ ]
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
        - name: tagName
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 32
      responses:
        204:
          description: Success        
  
  /files/{id}/transactionlinks:
    post:
      summary: Link transaction to a file
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileLibraryItemTransactionLinkBinding'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLibraryItemTransactionLink'

  /files/{id}/transactionlinks/{transactionId}:
    patch:
      summary: Update a note for a linked transaction
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
        - name: transactionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody: 
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/FileLibraryItemTransactionLinkNote'
      responses:
        200:
          description: Update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLibraryItemTransactionLink'

    delete:
      summary: Unlink a transaction from a file
      tags:
        - file library
      security:
        - BearerToken: [ ]
        - AgDataD: [ ]
      parameters:
        - $ref: '#/components/parameters/FileLibraryFileId'
        - name: transactionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Success
          
  /files/settings:
    get:
      summary: Get file library API settings
      tags:
        - file library
      security:
        - BearerToken: [ ]
        - AgDataD: [ ]
      responses:
        204:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLibrarySettings'

  /fileaudits:
    get:
      summary: Retrieves file audit information
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: fileid
          description: Id of the file
          in: query
          schema:
            type: string
            format: uuid
        - name: order
          description: Orders the result in either ascending or descending based on its date
          in: query
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
      responses:
        200:
          description: Success
          headers:
            X-TotalCount:
              $ref: '#/components/headers/X-TotalCount'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileAudit'

  /filetags:
    get:
      summary: List all current tags for files
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: prefix
          description: Optionally filter results by prefix
          in: query
          required: false
          schema:
              type: string
              minLength: 2
              maxLength: 32
      responses:
        200:
          description: Success
          headers:
            X-TotalCount:
              $ref: '#/components/headers/X-TotalCount'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileLibraryTag'

  /filetags/{tagName}:
    patch:
      summary: Rename a tag
      security:
        - BearerToken: []
        - DatasetId: []
        - AgDataD: []
      tags:
        - file library
      parameters:
        - name: tagName
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 32
      requestBody: 
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/FileLibraryTagBinding'
      responses:
        204:
          description: Rename successful.
        404:
          description: Tag not found.
          
    delete:
      summary: Delete all instances of a tag from all files in the dataset.
      tags:
        - file library
      security:
        - BearerToken: []
        - AgDataD: []
      parameters:
        - name: tagName
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 32
      responses:
        204:
          description: Delete successful
        404:
          description: Tag not found
      
components:

  securitySchemes:
    DatasetId:
      type: apiKey
      in: header
      name: X-DatasetId
    AgDataD:
      type: apiKey
      in: header
      name: x-agdata-d
    BearerToken:
      type: openIdConnect
      openIdConnectUrl: "https://id.agdata.com.au/.well-known/openid-configuration"
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
    short-lived-oauth:
      type: oauth2
      description: Provides OAuth token valid for short duration ~75 seconds
      # vendor-extension x-client-id and x-client-secret to prefill data
      x-client-id: 3e458221-c98d-43c9-af74-7b92123320f9
      x-client-secret:
      flows:
        authorizationCode:
          authorizationUrl: https://agdataaustralia.b2clogin.com/agdataaustralia.onmicrosoft.com/B2C_1A_signup_signin/oauth2/v2.0/authorize
          tokenUrl: https://agdataaustralia.b2clogin.com/agdataaustralia.onmicrosoft.com/B2C_1A_signup_signin/oauth2/v2.0/token
          scopes:
            openid: OpenID
            profile: Profile
            offline_access: API
            https://agdataaustralia.onmicrosoft.com/px.agdata.com.au/px.api: Data API


  schemas:

    FileAudit:
      required:
        - fileid
        - filename
        - username
        - action
        - date
      properties:
        fileid:
          type: string
          format: uuid
        filename:
          type: string
        username:
          type: string
        action:
          description: The action done to the file by the user.
          type: string
          enum:
          - created
          - deleted
        date:
          type: string
          format: date-time

    FileLibraryItem:
      required:
        - id
        - filename
        - safeDisplayFilename
        - size
        - created
        - createdBy
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        safeDisplayFilename:
          type: string
        size:
          description: File size in bytes
          type: integer
          format: int64
        tags:
          $ref: '#/components/schemas/FileLibraryItemTags'
        transactionLinks:
          type: array
          items:
            $ref: '#/components/schemas/FileLibraryItemTransactionLink'
        created:
          type: string
          format: date-time
        createdBy:
          type: string
          maxLength: 320
        deleted:
          type: string
          format: date-time
        deletedBy:
          type: string
          maxLength: 120
    
    FileLibraryItemBinding:
      properties:
        filename:
          type: string
        tags:
          $ref: '#/components/schemas/FileLibraryItemTags'
        transactionIds:
          type: array
          items:
            type: integer

    FileLibraryItemTagBinding:
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
            
    FileLibraryItemTags:
      type: array
      maxLength: 10
      items:
        $ref: '#/components/schemas/FileLibraryTag'
        
    FileLibrarySettings:
      properties:
        maxFileSize: 
          type: integer
          description: Maximum allowed file size in bytes.
        
    FileLibraryTag:
      required:
        - name
        - fileCount
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
        fileCount:
          type: integer
          
    FileLibraryTagBinding:
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 32
          
    FileLibraryItemTransactionLinkBinding:
      required:
        - tranasctionId
      properties:
        transactionId:
          type: integer
          format: int64
        note:
          type: string
          
    FileLibraryItemTransactionLink:
      required:
        - transactionId
      properties:
        transactionId:
          type: integer
          format: int64
        note:
          type: string

    FileLibraryItemTransactionLinkNote:
      properties:
        note:
          type: string

  headers:
    X-TotalCount:
      description: The total number of available results. Used for paging.
      schema:
        type: integer

  parameters:
      
    FileLibraryFileId:
      name: id
      description: Id of the file
      in: path
      schema:
        type: string
        format: uuid
      required: true

    Limit:
      name: limit
      description: Limit to a certain number of results.
      schema:
        type: integer
      required: false
      in: query

    Offset:
      name: offset
      description: Skip this many items in the result.
      schema:
        type: integer
      required: false
      in: query

    UsernameHeader:
      name: x-agdata-username
      description: Name of the user submitting the request. This value is required for the Phoenix win32 client only.
      in: header
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 320
